$border-color: #929292;
$font: 'Roboto', sans-serif;

.input-criteria {
   font-family: $font;
   font-size: 18px;
   width: 337px;
   height: 5px;
   border: 1px solid $border-color;
   padding: 20px;
   border-radius: 4px;
}

.select-types {
   font-family: $font;
   font-size: 18px;
   color: #414141;
   width: 132px;
   height: 47px;
   border: 1px solid $border-color;
   padding: 5px;
   border-radius: 4px;
   margin-left: 15px;
   background-color: #ffffff;
}
